body{
  background-color: #f5F5F5;
}

header{
  background-color: #F1F0CC;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main{
  background-color: #D5BF86;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 40px;
  padding-top: 40px;
}

main h1{
  text-align: center;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  font-weight: 500;
  font-family: cursive;
  color: black;
}

.shifumi-title{
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
}

/* main css */

.sec-scores{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sec-scores h2{
  font-size: 15px;
}

.sec-player{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sec-player article{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec-result{
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: flex-start;
  gap: 20px;
}

.secc-result h2{
  padding: 10px 0;
  font-size: 15px;
  font-weight: 500;
}