body{
  background-color: #f5F5F5;
}

header{
  background-color: #F1F0CC;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main{
  background-color: #D5BF86;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 40px;
  padding-top: 40px;
}

main h1{
  text-align: center;
  font-size: 20px;
}

nav a{
  text-decoration: none;
  font-weight: 500;
  font-family: cursive;
  color: black;
}

.shifumi-title{
  font-size: 30px;
  font-weight: bold;
  font-family: cursive;
}

/* main css */

.sec-scores{
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sec-scores h2{
  font-size: 15px;
}


/* section player start */

.sec-player{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sec-player article{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec-player img{
  border-radius: 5px;
}

main .signs{
  height: 3.5em;
  width: 5em;
  background: #444;
  border:  none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  transform-origin: 50% 5em;
  /* animation property */
}

main .signs:hover{
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7%{
    transform: rotateZ(0);
  }
  15%{
    transform: rotateZ(-15deg);
  }
  20%{
    transform: rotateZ(10deg);
  }
  25%{
    transform: rotateZ(-10deg);
  }
  30%{
    transform: rotateZ(6deg);
  }
  35%{
    transform: rotateZ(-4deg);
  }
  40%{
    transform: rotateZ(0);
  }
}

/* section player end */

.sec-result{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
  gap: 20px;
}

.result-message{
  height: 250px;
  width: 350px;
  display: block;
  background-color: #444;
  border: 5px solid green;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}